src/main/resources/wsdl/elegibilidade.wsdl

<wsdl:definitions
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns:sch="http://www.devweb.com.br/soap/api/elegibilidade"
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:tns="http://www.devweb.com.br/soap/api/elegibilidade"
	targetNamespace="http://www.devweb.com.br/soap/api/elegibilidade">
	<wsdl:types>
		<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
			elementFormDefault="qualified"
			targetNamespace="http://www.devweb.com.br/soap/api/elegibilidade">
			<xsd:element name="ClienteRequest">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="nome" type="xsd:string" />
						<xsd:element name="idade" type="xsd:int" />
						<xsd:element name="rendaAnual" type="xsd:long" />
						<xsd:element name="pontuacao" type="xsd:int" />
						<xsd:element name="modalidadeEmprego"
							type="xsd:string" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="Situacao">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="elegivel" type="xsd:boolean" />
						<xsd:element name="valorAprovado" type="xsd:long" />
						<xsd:element maxOccurs="unbounded"
							name="criterioIncompativel" type="xsd:string" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="ClienteRequest">
		<wsdl:part element="tns:ClienteRequest"
			name="ClienteRequest">
		</wsdl:part>
	</wsdl:message>
	<wsdl:portType name="ElegibilidadePort">
		<wsdl:operation name="Cliente">
			<wsdl:input message="tns:ClienteRequest"
				name="ClienteRequest">
			</wsdl:input>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="ElegibilidadePortSoap11"
		type="tns:ElegibilidadePort">
		<soap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="Cliente">
			<soap:operation soapAction="" />
			<wsdl:input name="ClienteRequest">
				<soap:body use="literal" />
			</wsdl:input>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="ElegibilidadePortService">
		<wsdl:port binding="tns:ElegibilidadePortSoap11"
			name="ElegibilidadePortSoap11">
			<soap:address location="http://localhost:8080/ws" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>